    /*
 /$$    /$$  /$$$$$$  /$$$$$$$  /$$$$$$  /$$$$$$  /$$    /$$ /$$$$$$$$ /$$$$$$  /$$$$$$ 
| $$   | $$ /$$__  $$| $$__  $$|_  $$_/ /$$__  $$| $$   | $$| $$_____/|_  $$_/ /$$__  $$
| $$   | $$| $$  \ $$| $$  \ $$  | $$  | $$  \ $$| $$   | $$| $$        | $$  | $$  \__/
|  $$ / $$/| $$$$$$$$| $$$$$$$/  | $$  | $$$$$$$$|  $$ / $$/| $$$$$     | $$  |  $$$$$$ 
 \  $$ $$/ | $$__  $$| $$__  $$  | $$  | $$__  $$ \  $$ $$/ | $$__/     | $$   \____  $$
  \  $$$/  | $$  | $$| $$  \ $$  | $$  | $$  | $$  \  $$$/  | $$        | $$   /$$  \ $$
   \  $/   | $$  | $$| $$  | $$ /$$$$$$| $$  | $$   \  $/   | $$$$$$$$ /$$$$$$|  $$$$$$/
    \_/    |__/  |__/|__/  |__/|______/|__/  |__/    \_/    |________/|______/ \______/ 
*/
    
     :root {
        --primary_blue: #2B4D6B;
        --secondary_blue: #3C5E7C;
        --primary_white: #fafafa;
        --secondary_white: #e0e0e0;
        --primary_black: #0e0e0e;
    }
    
    @import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');
    /* Container */
    
    .container {
        margin: 0 auto;
        max-width: 960px;
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
    }

    .container .artigos {
        width: 60%;
        background: var(--primary_white);
        padding: 10px;
        border-right: 5px solid var(--secondary_blue);
        margin-top: 4em;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;

    }

    .artigos h3{
        text-align: center;
        font-size: 2.75em;
        font-family: 'Aldrich', sans-serif;
        color: var(--primary_blue);
        padding-bottom: 1em;
    }

    .artigos h3:after{
        content: "";
        display: block;
        background: var(--secondary_blue);
        height: .125em;
        width: 100%;
    }

    .noticia{
        padding: .5em 0;
        height: 40vh;
    }

    .noticia a{
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        text-decoration: none;
        color: var(--primary_black);
        align-items: center;
        justify-content: space-between;
    }

    .noticia a:hover{
        background: var(--secondary_white);
        color: var(--secondary_blue)
    }

    .img-noticia{
        width: 48.5%;
        max-height: 100%;
    }

    .img-noticia img{
        object-fit: cover;
        width: 100%;
        height: auto;
        max-height: 100%
    }

    .txt-noticia{
        width: 48.5%;
        max-height: 100%;
    }

    @media screen and (max-width: 768px){

        .conteiner .artigos{
            align-items: flex-start;
            justify-content: flex-start;
        }

        .noticia a{
            flex-flow: column nowrap;
        }

        .img-noticia, .txt-noticia{
            width: 100%;
            height: 60%
        }
    }


    .txt-noticia .titulo{
        font-size: 1.5em;
        font-family: 'Aldrich', sans-serif;
        color: var(--secondary_blue);
        text-align: center;
    }

    .txt-noticia .titulo:hover{
        color: var(--primary_blue);
        text-decoration: underline overline;
    }

    .txt-noticia .resumo{
        text-align: justify;
        font-size: 1.125em;
    }

    .lateral{
        width: 30%;
        background: var(--primary_white);
        padding: 10px;
        border-right: 5px solid var(--secondary_blue);
        margin-top: 4em;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;

    }

    .lateral h3{
        text-align: center;
        font-size: 2.75em;
        font-family: 'Aldrich', sans-serif;
        color: var(--primary_blue);
        padding: 1em 0;
    }

    .lateral .links, .docs, h3{
        width: 100%;
    }

    .link-interessante, .docs ul li a{
        text-decoration: none;
        color: var(--primary_blue);
        font-size: 1.125em;
    }

    .link-interessante:hover, .docs ul li a:hover{
        text-decoration: underline;
    }
