/*
    MENU
1- Reset
2- Variaveis
3- Container
4- Header
5- Contato
6- Home
7- Serviços
8- Noticias
9- Footer
*/

/*
1- Reset
 /$$$$$$$  /$$$$$$$$  /$$$$$$  /$$$$$$$$ /$$$$$$$$
| $$__  $$| $$_____/ /$$__  $$| $$_____/|__  $$__/
| $$  \ $$| $$      | $$  \__/| $$         | $$   
| $$$$$$$/| $$$$$   |  $$$$$$ | $$$$$      | $$   
| $$__  $$| $$__/    \____  $$| $$__/      | $$   
| $$  \ $$| $$       /$$  \ $$| $$         | $$   
| $$  | $$| $$$$$$$$|  $$$$$$/| $$$$$$$$   | $$   
|__/  |__/|________/ \______/ |________/   |__/   
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*
2- Variaveis
 /$$    /$$  /$$$$$$  /$$$$$$$  /$$$$$$  /$$$$$$  /$$    /$$ /$$$$$$$$ /$$$$$$  /$$$$$$ 
| $$   | $$ /$$__  $$| $$__  $$|_  $$_/ /$$__  $$| $$   | $$| $$_____/|_  $$_/ /$$__  $$
| $$   | $$| $$  \ $$| $$  \ $$  | $$  | $$  \ $$| $$   | $$| $$        | $$  | $$  \__/
|  $$ / $$/| $$$$$$$$| $$$$$$$/  | $$  | $$$$$$$$|  $$ / $$/| $$$$$     | $$  |  $$$$$$ 
 \  $$ $$/ | $$__  $$| $$__  $$  | $$  | $$__  $$ \  $$ $$/ | $$__/     | $$   \____  $$
  \  $$$/  | $$  | $$| $$  \ $$  | $$  | $$  | $$  \  $$$/  | $$        | $$   /$$  \ $$
   \  $/   | $$  | $$| $$  | $$ /$$$$$$| $$  | $$   \  $/   | $$$$$$$$ /$$$$$$|  $$$$$$/
    \_/    |__/  |__/|__/  |__/|______/|__/  |__/    \_/    |________/|______/ \______/ 
*/

:root {
    --primary-blue :  #2B4D6B;
    --secondary_blue: #3C5E7C;
    --primary_white: #fafafa;
    --secundary-white:#E5E5E5;
    --sobre-box-background-color: #E0E0E0;
    --Alderich: 'Aldrich';
    --PTSerif: 'PT Serif';
    --footer-background-color: #333333;
    --footer-font-color: rgb(250, 250, 250);
    --footer-rodape-background-color: #3D3D3D;
    --footer-rodape-color: rgb(221, 221, 221);
}

/*
3- Container
  /$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$  /$$$$$$ /$$   /$$ /$$$$$$$$ /$$$$$$$ 
 /$$__  $$ /$$__  $$| $$$ | $$|__  $$__//$$__  $$|_  $$_/| $$$ | $$| $$_____/| $$__  $$
| $$  \__/| $$  \ $$| $$$$| $$   | $$  | $$  \ $$  | $$  | $$$$| $$| $$      | $$  \ $$
| $$      | $$  | $$| $$ $$ $$   | $$  | $$$$$$$$  | $$  | $$ $$ $$| $$$$$   | $$$$$$$/
| $$      | $$  | $$| $$  $$$$   | $$  | $$__  $$  | $$  | $$  $$$$| $$__/   | $$__  $$
| $$    $$| $$  | $$| $$\  $$$   | $$  | $$  | $$  | $$  | $$\  $$$| $$      | $$  \ $$
|  $$$$$$/|  $$$$$$/| $$ \  $$   | $$  | $$  | $$ /$$$$$$| $$ \  $$| $$$$$$$$| $$  | $$
 \______/  \______/ |__/  \__/   |__/  |__/  |__/|______/|__/  \__/|________/|__/  |__/
*/

.container-header {
    margin: 0 auto;
    max-width: 1040px;
    height: 50px;
    display: flex;
    justify-content: space-between;  
}

.container {
    margin: 0 auto;
    max-width: 960px;
}

/*
4- Header
 /$$   /$$ /$$$$$$$$  /$$$$$$  /$$$$$$$  /$$$$$$$$ /$$$$$$$ 
| $$  | $$| $$_____/ /$$__  $$| $$__  $$| $$_____/| $$__  $$
| $$  | $$| $$      | $$  \ $$| $$  \ $$| $$      | $$  \ $$
| $$$$$$$$| $$$$$   | $$$$$$$$| $$  | $$| $$$$$   | $$$$$$$/
| $$__  $$| $$__/   | $$__  $$| $$  | $$| $$__/   | $$__  $$
| $$  | $$| $$      | $$  | $$| $$  | $$| $$      | $$  \ $$
| $$  | $$| $$$$$$$$| $$  | $$| $$$$$$$/| $$$$$$$$| $$  | $$
|__/  |__/|________/|__/  |__/|_______/ |________/|__/  |__/
*/


header {
    background-color: var(--primary-blue);
    width: 100%;
    height: 50px;
    font-family:var(--Alderich) , sans-serif;
    
}

.logo {
    font-size: 2.25em;
    line-height: 35px;
    margin: 7px 0;
}

.logo a {
    text-decoration: none;
    color: var(--primary_white);
}



.nav-bar-phone {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.nav-bar {
    height: 100%;
    width: 90%;
    margin: 15px 0;
}

.nav-bar nav{
    width: 100%;
}

.nav-bar ul {
    width: 100%;
    height: 100%;
}

.nav-bar li {
    width: 30%;
    height: 100%;
    display: inline-flex;
}

.nav-bar a {
    text-decoration: none;
    color: var(--primary_white);
}

.phones {
    color: var(--primary_white);
    font-size: 12px;
    line-height: 15px;
    border: 1px solid var(--primary_white) ;
    height: 41px;
    width: 125px;
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    flex-flow: wrap;
    margin: 5px 0;
    padding: 0 5px;
}

/*4.1- Responsivo Header*/
.btn {
	color: var(--primary_white);
	display: none;
}

#bt_menu {
	 display:none; 
}

label[for="bt_menu"] {
    float: right;

}

@media screen and (max-width: 767px){
	.btn {
        display: block;
        align-self: center;
	}

    .nav-bar-phone {
        flex-direction: row-reverse;
    }
    
	.nav-bar {
		transform: translate(0%,30%);
		top:0;
        display: none;
        width: 100%;
        height: 200%;
	}

    .nav-bar li {
        display: flex;
    }

    .phones {
        display: none;
    }

	#bt_menu:checked~.nav-bar{
        transform: translate(0%,30%);
		display: flex;
		background: var(--primary-blue);
        text-align: right;
        align-items: center;
    }

	#bt_menu:checked~.nav-bar li {
        padding: 10px;
        width: 100%;
    }
    
    
    #bt_menu:checked~.nav-bar li:hover {
        background-color: var(--primary_white);
    }

    #bt_menu:checked~.nav-bar li:hover a{
        color: var(--primary-blue);
    }  
}


/*
9- Footer
 /$$$$$$$$ /$$$$$$   /$$$$$$  /$$$$$$$$ /$$$$$$$$ /$$$$$$$ 
| $$_____//$$__  $$ /$$__  $$|__  $$__/| $$_____/| $$__  $$
| $$     | $$  \ $$| $$  \ $$   | $$   | $$      | $$  \ $$
| $$$$$  | $$  | $$| $$  | $$   | $$   | $$$$$   | $$$$$$$/
| $$__/  | $$  | $$| $$  | $$   | $$   | $$__/   | $$__  $$
| $$     | $$  | $$| $$  | $$   | $$   | $$      | $$  \ $$
| $$     |  $$$$$$/|  $$$$$$/   | $$   | $$$$$$$$| $$  | $$
|__/      \______/  \______/    |__/   |________/|__/  |__/
*/
footer {

    margin: 0 auto;
    width: 100%;
    color: var(--footer-font-color);
    background: var(--footer-background-color);

}

.container-footer {
    
    margin: 0 3vw;
    height: 100%;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;

}

.footer-rodape {

    background-color: var(--footer-rodape-background-color); 
    color: var(--footer-rodape-color);
    height: 20px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-contato {

    height: 100%;
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.footer-desenvolvido {

    margin-right: 0px;

}

.footer-desenvolvido-container {
    
    float: right;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 125px;
    width: max-content;
    justify-content: space-evenly;

}

.footer-desenvolvido img {

    width: 80px;

}
/*
5- Contato
  /$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$  /$$$$$$$$ /$$$$$$ 
 /$$__  $$ /$$__  $$| $$$ | $$|__  $$__//$$__  $$|__  $$__//$$__  $$
| $$  \__/| $$  \ $$| $$$$| $$   | $$  | $$  \ $$   | $$  | $$  \ $$
| $$      | $$  | $$| $$ $$ $$   | $$  | $$$$$$$$   | $$  | $$  | $$
| $$      | $$  | $$| $$  $$$$   | $$  | $$__  $$   | $$  | $$  | $$
| $$    $$| $$  | $$| $$\  $$$   | $$  | $$  | $$   | $$  | $$  | $$
|  $$$$$$/|  $$$$$$/| $$ \  $$   | $$  | $$  | $$   | $$  |  $$$$$$/
 \______/  \______/ |__/  \__/   |__/  |__/  |__/   |__/   \______/ 
*/

.contact-us {
    margin: 25px auto;
    font-family: var(--Alderich) , sans-serif;
    color:  var(--primary-blue);
}

 .contac-us h1 {
    font-size: 2.25em;
    margin: 0 auto;
    max-width: 40%;
}

.contact-us form {
    max-width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.group-itens {
    font-size: 1em;
    line-height: 16px;
    margin-bottom: 26px;
    
}

.group-itens input {
    width: 100%;
    height: 32px;
    border: 1px solid var(--primary-blue);
    font-family: var(--Alderich) , sans-serif;
}

.group-itens textarea {
    width: 100%;
    height: 128px;
    border: 1px solid var(--primary-blue);
    font-family: var(--Alderich) , sans-serif;
}

.sendBtn {
    font-family: 'Aldrich' , sans-serif;
    color: var(--primary_white);
    background-color: var(--primary-blue);
    border: none;
    font-size: 1.5em;
    padding: 12px 20px;
    margin: 0 auto;
}

.sendBtn:hover {
     color: var(--primary-blue);
     background-color: var(--primary_white);
     border: 1px solid var(--primary-blue);
     pointer-events: auto;
}

/*
6- Home
 /$$   /$$  /$$$$$$  /$$      /$$ /$$$$$$$$ /$$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$$$
| $$  | $$ /$$__  $$| $$$    /$$$| $$_____/| $$__  $$ /$$__  $$ /$$__  $$| $$_____/
| $$  | $$| $$  \ $$| $$$$  /$$$$| $$      | $$  \ $$| $$  \ $$| $$  \__/| $$      
| $$$$$$$$| $$  | $$| $$ $$/$$ $$| $$$$$   | $$$$$$$/| $$$$$$$$| $$ /$$$$| $$$$$   
| $$__  $$| $$  | $$| $$  $$$| $$| $$__/   | $$____/ | $$__  $$| $$|_  $$| $$__/   
| $$  | $$| $$  | $$| $$\  $ | $$| $$      | $$      | $$  | $$| $$  \ $$| $$      
| $$  | $$|  $$$$$$/| $$ \/  | $$| $$$$$$$$| $$      | $$  | $$|  $$$$$$/| $$$$$$$$
|__/  |__/ \______/ |__/     |__/|________/|__/      |__/  |__/ \______/ |________/
*/

.main {
    height:646px;
    max-width:100%;
    background: url("assets/img/main-background.png") no-repeat center center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.main img {
    z-index: 1;
    margin: 31px auto;

}

.main p {
    font-size: 2.25em;
    font-family: 'PT Serif', serif;
    color: var(--primary_white);
}

.main a {
    border: 2px solid var(--primary_white);
    text-decoration: none;
    color: var(--primary_white);
    padding: 28px 36px;
    font-size: 2.25em;
    font-family: 'Aldrich',sans-serif;
    margin: 70px auto;
}

.main a:hover {
    background-color: var(--primary_white);
    color: var(--primary-blue);
}

.logo-text {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 78px;
}

.blackout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
}

/*
 /$$    /$$  /$$$$$$  /$$       /$$   /$$ /$$$$$$$$  /$$$$$$ 
| $$   | $$ /$$__  $$| $$      | $$  | $$| $$_____/ /$$__  $$
| $$   | $$| $$  \ $$| $$      | $$  | $$| $$      | $$  \__/
|  $$ / $$/| $$$$$$$$| $$      | $$  | $$| $$$$$   |  $$$$$$ 
 \  $$ $$/ | $$__  $$| $$      | $$  | $$| $$__/    \____  $$
  \  $$$/  | $$  | $$| $$      | $$  | $$| $$       /$$  \ $$
   \  $/   | $$  | $$| $$$$$$$$|  $$$$$$/| $$$$$$$$|  $$$$$$/
    \_/    |__/  |__/|________/ \______/ |________/ \______/ 
*/

.values {
    max-width: 100%;
    height: 564px;
    background-color: #2B4D6B;
 
}

.values-cards {
    display: flex;
    flex-direction: row;
    transform: translateY(-10%);
}

.card {
    height: 300px;
    width: 240px;
    background-color: var(--secundary-white);
    color: var(--primary-blue);
    display: flex;
    flex-flow: wrap;
    text-align: center;
    margin: auto 50px;
    z-index: 1;
    

}

.card h2 {
    font-family: var(--Alderich) , sans-serif;
    font-size: 1.5em;
    line-height: 23px;
    margin: 10px auto;
}

.card p {
    font-family:var(--PTSerif) , sans-serif;
    font-size: 1em;
    line-height: 21px;
    width: 200px;
    height: 225px;
    margin: 5px auto;
}


.values-intro {
    height: 114px;
    width: 820px;
    font-family: PT Serif;
    color: var(--primary_white); 
    font-size: 1em;
    line-height: 21px;
    margin: 50px auto;
    text-align: center;
}  

.values-intro p {
    margin-top: 30px;
}

/*
7- Serviços
  /$$$$$$  /$$$$$$$$ /$$$$$$$  /$$    /$$ /$$$$$$  /$$$$$$   /$$$$$$   /$$$$$$ 
 /$$__  $$| $$_____/| $$__  $$| $$   | $$|_  $$_/ /$$__  $$ /$$__  $$ /$$__  $$
| $$  \__/| $$      | $$  \ $$| $$   | $$  | $$  | $$  \__/| $$  \ $$| $$  \__/
|  $$$$$$ | $$$$$   | $$$$$$$/|  $$ / $$/  | $$  | $$      | $$  | $$|  $$$$$$ 
 \____  $$| $$__/   | $$__  $$ \  $$ $$/   | $$  | $$      | $$  | $$ \____  $$
 /$$  \ $$| $$      | $$  \ $$  \  $$$/    | $$  | $$    $$| $$  | $$ /$$  \ $$
|  $$$$$$/| $$$$$$$$| $$  | $$   \  $/    /$$$$$$|  $$$$$$/|  $$$$$$/|  $$$$$$/
 \______/ |________/|__/  |__/    \_/    |______/ \______/  \______/  \______/ 
*/

.sobre-container {

    margin: 0 auto;
    max-width: 1110px;
    color: var(--primary-blue);
    font-family: var(--PTSerif);
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 100px;

}

.sobre-container h2 {

    font-family: var(--Alderich);
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 20px;

}

.sobre-container p {
    
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    
}

.sobre-servicos {

    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    
}

.sobre-servicos-box p {

    font-family: var(--Alderich);
    font-size: 24px;
    line-height: 23px;
    
}

.sobre-servicos-box {

    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 320px;
    width: 350px;
    background-color: var(--sobre-box-background-color);

}

.sobre-servicos-box p {

    padding: 20px 0px;
    text-align: center;

}

.sobre-servicos-box ul {

    padding: 0px 21px 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.sobre-servicos-box ul li {

    line-height: 2em;

}

.sobre-servicos-box ul li::before {

    content: "·";
    font-size: 90px;
    line-height: 20px;
    vertical-align: -22px;
}

/*
8- Noticias
 /$$   /$$  /$$$$$$  /$$$$$$$$ /$$$$$$  /$$$$$$  /$$$$$$  /$$$$$$   /$$$$$$ 
| $$$ | $$ /$$__  $$|__  $$__/|_  $$_/ /$$__  $$|_  $$_/ /$$__  $$ /$$__  $$
| $$$$| $$| $$  \ $$   | $$     | $$  | $$  \__/  | $$  | $$  \ $$| $$  \__/
| $$ $$ $$| $$  | $$   | $$     | $$  | $$        | $$  | $$$$$$$$|  $$$$$$ 
| $$  $$$$| $$  | $$   | $$     | $$  | $$        | $$  | $$__  $$ \____  $$
| $$\  $$$| $$  | $$   | $$     | $$  | $$    $$  | $$  | $$  | $$ /$$  \ $$
| $$ \  $$|  $$$$$$/   | $$    /$$$$$$|  $$$$$$/ /$$$$$$| $$  | $$|  $$$$$$/
|__/  \__/ \______/    |__/   |______/ \______/ |______/|__/  |__/ \______/ 
*/

.container {
    margin: 0 auto;
    max-width: 960px;
    /* display: flex;
    flex-direction: row;
    flex-flow: wrap; */
}

.container .artigos {
    width: 60%;
    background: var(--primary_white);
    padding: 10px;
    border-right: 5px solid var(--secondary_blue);
    margin-top: 4em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;

}

.artigos h3{
    text-align: center;
    font-size: 2.75em;
    font-family: 'Aldrich', sans-serif;
    color: var(--primary_blue);
    padding-bottom: 1em;
}

.artigos h3:after{
    content: "";
    display: block;
    background: var(--secondary_blue);
    height: .125em;
    width: 100%;
}

.noticia{
    padding: .5em 0;
    height: 40vh;
}

.noticia a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    text-decoration: none;
    color: var(--primary_black);
    align-items: center;
    justify-content: space-between;
}

.noticia a:hover{
    background: var(--secondary_white);
    color: var(--secondary_blue)
}

.img-noticia{
    width: 48.5%;
    max-height: 100%;
}

.img-noticia img{
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 100%
}

.txt-noticia{
    width: 48.5%;
    max-height: 100%;
}

.img-noticia img{
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 100%
}

.txt-noticia{
    width: 48.5%;
    max-height: 100%;
}

@media screen and (max-width: 768px){

    .conteiner .artigos{
        align-items: flex-start;
        justify-content: flex-start;
    }

    .noticia a{
        flex-flow: column nowrap;
    }

    .img-noticia, .txt-noticia{
        width: 100%;
        height: 60%
    }
}


.txt-noticia .titulo{
    font-size: 1.5em;
    font-family: 'Aldrich', sans-serif;
    color: var(--secondary_blue);
    text-align: center;
}

.txt-noticia .titulo:hover{
    color: var(--primary_blue);
    text-decoration: underline overline;
}

.txt-noticia .resumo{
    text-align: justify;
    font-size: 1.125em;
}

.lateral{
    width: 30%;
    background: var(--primary_white);
    padding: 10px;
    border-right: 5px solid var(--secondary_blue);
    margin-top: 4em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;

}

.lateral h3{
    text-align: center;
    font-size: 2.75em;
    font-family: 'Aldrich', sans-serif;
    color: var(--primary_blue);
    padding: 1em 0;
}

.lateral .links, .docs, h3{
    width: 100%;
}

.link-interessante, .docs ul li a{
    text-decoration: none;
    color: var(--primary_blue);
    font-size: 1.125em;
}

.link-interessante:hover, .docs ul li a:hover{
    text-decoration: underline;
}
