:root {

    --footer-background-color: #333333;
    --footer-font-color: rgb(250, 250, 250);
    --footer-rodape-background-color: #3D3D3D;
    --footer-rodape-color: rgb(221, 221, 221);
}

footer {

    margin: 0 auto;
    width: 100vw;
    color: var(--footer-font-color);
    background: var(--footer-background-color);

}

.container-footer {
    
    margin: 0 3vw;
    height: 100%;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;

}

.footer-rodape {

    background-color: var(--footer-rodape-background-color); 
    color: var(--footer-rodape-color);
    height: 20px;
    width: 100vw;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-contato {

    height: 100%;
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.footer-desenvolvido {

    margin-right: 0px;

}

.footer-desenvolvido-container {
    
    float: right;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 125px;
    width: max-content;
    justify-content: space-evenly;

}

.footer-desenvolvido img {

    width: 80px;

}

