@media screen and (max-width: 749px) {
    .values-cards {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin: 5px 0;
    }
}

@media screen and (max-width:486px) {
    .main p {
        font-size: 1.8em;
    }
}