@media screen and (max-width: 938px) {
    h1 {
        font-size: 2.1em;
    }
    .group-itens {
        font-size: .9em;
    }
    .group-itens input {
        height: 28px;
    }
}

@media screen and (min-width:838px) and (max-width: 880px) {
    h1 {
        font-size: 1.9em;
    }
    .group-itens input {
        height: 26px;
    }
}

@media screen and (min-width:697px) and (max-width: 837px){
    h1 {
        font-size: 1.7em;
    }
    .group-itens {
        font-size: .8em;
    }
    .group-itens input {
        height: 24px;
    }
}

@media screen and (min-width:624px) and (max-width:696px) {
    h1 {
        font-size: 1.5em;
    }
    .group-itens {
        font-size: .8em;
    }
    .group-itens input {
        height: 22px;
    }
}

@media screen and (min-width:554px) and (max-width:623px){
    h1 {
        font-size: 1.3em;
    }
    .group-itens {
        font-size: .7em;
    }
    .group-itens input {
        height: 20px;
    }
}

@media screen and (min-width:470px) and (max-width:553px) {
    h1 {
        font-size: 1.1em;
    }
    .group-itens {
        font-size: .7em;
    }
    .group-itens input {
        height: 18px;
    }
}

@media screen and (min-width: 366px) and (max-width:469px) {
    h1 {
        font-size: .9em;
    }
    .group-itens {
        font-size: .7em;
    }
    .group-itens input {
        height: 16px;
    }
}

@media screen and (max-width:365px) {
    h1 {
        font-size: .7em;
    }
    .group-itens {
        font-size: .6em;
    }
    .group-itens input {
        height: 14px;
    }
}