.btn {
	color: #fafafa;
	display: none;
}

#bt_menu {
	 display:none; 
}

label[for="bt_menu"] {
    float: right;

}

@media screen and (max-width: 767px){
	.btn {
        display: block;
        align-self: center;
	}

    .nav-bar-phone {
        flex-direction: row-reverse;
    }
    
	.nav-bar {
		transform: translate(0%,30%);
		top:0;
        display: none;
        width: 100%;
        height: 200%;
	}

    .nav-bar li {
        display: flex;
    }

    .phones {
        display: none;
    }

	#bt_menu:checked~.nav-bar{
        transform: translate(0%,30%);
		display: flex;
		background: #2B4D6B;
        text-align: right;
        align-items: center;
    }

	#bt_menu:checked~.nav-bar li {
        padding: 10px;
        width: 100%;
    }
    
    
    #bt_menu:checked~.nav-bar li:hover {
        background-color: #fafafa;
    }

    #bt_menu:checked~.nav-bar li:hover a{
        color: #2B4D6B;
    }
    
    
}