:root {

    --sobre-color: #2B4D6B;;
    --sobre-fonte-titulos: 'Aldrich';
    --sobre-fonte-descricoes: 'PT Serif';
    --sobre-box-background-color: #E0E0E0;

}

.sobre-container {

    margin: 0 auto;
    max-width: 1110px;
    color: var(--sobre-color);
    font-family: Al;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 100px;

}

.sobre-container h2 {

    font-family: var(--sobre-fonte-titulos);
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 20px;

}

.sobre-container p {
    
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    
}

.sobre-servicos {

    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    
}

.sobre-servicos-box p {

    font-family: var(--sobre-fonte-titulos);
    font-size: 24px;
    line-height: 23px;
    
}

.sobre-servicos-box {

    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 320px;
    width: 350px;
    background-color: var(--sobre-box-background-color);

}

.sobre-servicos-box p {

    padding: 20px 0px;
    text-align: center;

}

.sobre-servicos-box ul {

    padding: 0px 21px 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.sobre-servicos-box ul li {

    line-height: 2em;

}

.sobre-servicos-box ul li::before {

    content: "·";
    font-size: 90px;
    line-height: 20px;
    vertical-align: -22px;

}