/*
 /$$   /$$  /$$$$$$  /$$      /$$ /$$$$$$$$ /$$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$$$
| $$  | $$ /$$__  $$| $$$    /$$$| $$_____/| $$__  $$ /$$__  $$ /$$__  $$| $$_____/
| $$  | $$| $$  \ $$| $$$$  /$$$$| $$      | $$  \ $$| $$  \ $$| $$  \__/| $$      
| $$$$$$$$| $$  | $$| $$ $$/$$ $$| $$$$$   | $$$$$$$/| $$$$$$$$| $$ /$$$$| $$$$$   
| $$__  $$| $$  | $$| $$  $$$| $$| $$__/   | $$____/ | $$__  $$| $$|_  $$| $$__/   
| $$  | $$| $$  | $$| $$\  $ | $$| $$      | $$      | $$  | $$| $$  \ $$| $$      
| $$  | $$|  $$$$$$/| $$ \/  | $$| $$$$$$$$| $$      | $$  | $$|  $$$$$$/| $$$$$$$$
|__/  |__/ \______/ |__/     |__/|________/|__/      |__/  |__/ \______/ |________/
*/



/*
 /$$      /$$  /$$$$$$  /$$$$$$ /$$   /$$
| $$$    /$$$ /$$__  $$|_  $$_/| $$$ | $$
| $$$$  /$$$$| $$  \ $$  | $$  | $$$$| $$
| $$ $$/$$ $$| $$$$$$$$  | $$  | $$ $$ $$
| $$  $$$| $$| $$__  $$  | $$  | $$  $$$$
| $$\  $ | $$| $$  | $$  | $$  | $$\  $$$
| $$ \/  | $$| $$  | $$ /$$$$$$| $$ \  $$
|__/     |__/|__/  |__/|______/|__/  \__/
*/

.main {
    height:646px;
    max-width:100%;
    background: url("../img/main-background.png") no-repeat center center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.main img {
    z-index: 1;
    margin: 31px auto;

}

.main p {
    font-size: 2.25em;
    font-family: 'PT Serif', serif;
    color: #fafafa;
}

.main a {
    border: 2px solid #fafafa;
    text-decoration: none;
    color: #fafafa;
    padding: 28px 36px;
    font-size: 2.25em;
    font-family: 'Aldrich',sans-serif;
    margin: 70px auto;
}

.main a:hover {
    background-color: #fafafa;
    color: #2B4D6B;
}

.logo-text {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 78px;
}

.blackout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
}

/*
 /$$    /$$  /$$$$$$  /$$       /$$   /$$ /$$$$$$$$  /$$$$$$ 
| $$   | $$ /$$__  $$| $$      | $$  | $$| $$_____/ /$$__  $$
| $$   | $$| $$  \ $$| $$      | $$  | $$| $$      | $$  \__/
|  $$ / $$/| $$$$$$$$| $$      | $$  | $$| $$$$$   |  $$$$$$ 
 \  $$ $$/ | $$__  $$| $$      | $$  | $$| $$__/    \____  $$
  \  $$$/  | $$  | $$| $$      | $$  | $$| $$       /$$  \ $$
   \  $/   | $$  | $$| $$$$$$$$|  $$$$$$/| $$$$$$$$|  $$$$$$/
    \_/    |__/  |__/|________/ \______/ |________/ \______/ 
*/

.values {
    max-width: 100%;
    height: 564px;
    background-color: #2B4D6B;
 
}

.values-cards {
    display: flex;
    flex-direction: row;
    transform: translateY(-10%);
}

.card {
    height: 300px;
    width: 240px;
    background-color: #E5E5E5;
    color: #2B4D6B;
    display: flex;
    flex-flow: wrap;
    text-align: center;
    margin: auto 50px;
    z-index: 1;
    

}

.card h2 {
    font-family: 'Aldrich' , sans-serif;
    font-size: 1.5em;
    line-height: 23px;
    margin: 10px auto;
}

.card p {
    font-family: 'PT Serif' , sans-serif;
    font-size: 1em;
    line-height: 21px;
    width: 200px;
    height: 225px;
    margin: 5px auto;
}


.values-intro {
    height: 114px;
    width: 820px;
    font-family: PT Serif;
    color: #fafafa; 
    font-size: 1em;
    line-height: 21px;
    margin: 50px auto;
    text-align: center;
}  

.values-intro p {
    margin-top: 30px;
}
