/*
  /$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$  /$$$$$$$$ /$$$$$$ 
 /$$__  $$ /$$__  $$| $$$ | $$|__  $$__//$$__  $$|__  $$__//$$__  $$
| $$  \__/| $$  \ $$| $$$$| $$   | $$  | $$  \ $$   | $$  | $$  \ $$
| $$      | $$  | $$| $$ $$ $$   | $$  | $$$$$$$$   | $$  | $$  | $$
| $$      | $$  | $$| $$  $$$$   | $$  | $$__  $$   | $$  | $$  | $$
| $$    $$| $$  | $$| $$\  $$$   | $$  | $$  | $$   | $$  | $$  | $$
|  $$$$$$/|  $$$$$$/| $$ \  $$   | $$  | $$  | $$   | $$  |  $$$$$$/
 \______/  \______/ |__/  \__/   |__/  |__/  |__/   |__/   \______/ 
*/

.contact-us {
    margin: 25px auto;
    font-family: 'Aldrich' , sans-serif;
    color:  #2B4D6B;
}


h1 {
    font-size: 2.25em;
    margin: 0 auto;
    max-width: 26%;
}

form {
    max-width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.group-itens {
    font-size: 1em;
    line-height: 16px;
    margin-bottom: 26px;
    
}

.group-itens input {
    width: 100%;
    height: 32px;
    border: 1px solid #2B4D6B;
    font-family: 'Aldrich' , sans-serif;
}

.group-itens textarea {
    width: 100%;
    height: 128px;
    border: 1px solid #2B4D6B;
    font-family: 'Aldrich' , sans-serif;
}

.sendBtn {
    font-family: 'Aldrich' , sans-serif;
    color: #fafafa;
    background-color: #2B4D6B;
    border: none;
    font-size: 1.5em;
    padding: 12px 20px;
    margin: 0 auto;
}

.sendBtn:hover {
     color: #2B4D6B;
     background-color: #fafafa;
     border: 1px solid #2B4D6B;
     pointer-events: auto;
}